.chart-container{
    background-color: white;
    padding: 4rem;
    overflow-y: auto;
    >h1{
        font-size: 2.1rem ;
        margin: 0 0 5rem 2rem;
        text-align: center;
    }
    > section{
        width: 80%;
        margin: 4rem auto;
        >div{
            max-width: 18rem;
            margin: auto;
            margin-top: 6rem;
            margin-bottom: -1rem;
        }

        >h2{
            margin:2rem 0;
            text-align: center;
        @include heading(2px);
        }
    }
}