$primary-color: rgb(0, 98, 255);
$error-color: rgb(255, 0, 0);
$text-color: rgb(15, 15, 15);
$border-color: rgba(0, 0, 0, 0.359);
$white: #fff;
$shadow-color: rgba(0, 0, 0, 0.5211);

@mixin button-style {
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  color: $white;
  font-weight: 700;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

@mixin hover-effect {
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

@import "mixin";

.dashboard-app-container {
  background-color: $white;
  padding: 4rem;
  overflow-x: auto;

  > section {
    @include flex(column, center, center, 2rem);
    height: 100%;

    .stopwatch {
      text-align: center;

      > h2 {
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 1rem;
      }

      > button {
        @include button-style;
        @include hover-effect;
        margin: 1rem;

        &:first-of-type {
          background-color: $primary-color;
          & {
            &:hover {
              background-color: darken($primary-color, 10%);
            }
          }
        }

        &:last-of-type {
          background-color: $error-color;
          & {
            &:hover {
              background-color: darken($error-color, 10%);
            }
          }
        }
      }
    }

    .tosscoin {
      @include Square(15rem);
      @include hover-effect;
      margin: 2rem;
      position: relative;
      cursor: pointer;
      transform-style: preserve-3d;
      transition: transform 0.5s;

      > div {
        @include Square(100%);
        border-radius: 50%;
        position: absolute;
        display: grid;
        place-items: center;
        background-repeat: no-repeat;
        background-size: contain;
        backface-visibility: hidden;
        filter: drop-shadow(0px 10px $shadow-color);

        &:first-of-type {
          background-image: url("../assets/head.jpeg");
        }
        &:last-of-type {
          background-image: url("../assets/tail.jpeg");
          transform: rotateY(-180deg);
        }
      }
    }

    .coupon-form {
      @include grid(2fr 1fr, 2rem);
      max-width: 30rem;
      width: 100%;

      > input,
      > fieldset {
        padding: 1rem;
        border: 1px solid $border-color;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: $primary-color;
        }
      }

      > fieldset {
        @include flex(row, center, center, 0.5rem);
        flex-wrap: wrap;
        grid-column: 1 / 3;

        span {
          font-size: 0.8rem;
          font-weight: 300;
        }
      }

      > button {
        @include button-style;
        @include hover-effect;
        width: 100%;
        font-size: 1.1rem;
        margin: 2rem 0;
        grid-column: 1 / 3;
        background-color: $primary-color;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }

    > code {
      position: relative;
      font-size: 1.2rem;
      letter-spacing: 2px;
      cursor: pointer;

      > span {
        @include Square(100%);
        @include flex;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5px;
        background-color: $text-color;
        color: $white;
        font-size: 0.8rem;
        transition: opacity 0.3s ease;
      }

      &:hover > span {
        opacity: 1;
      }
    }
  }

  > h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;

    @include mobile-heading;
  }
}
